* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  perspective: 1500px;
}

.card {
  border: solid 3px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 6rem;
  aspect-ratio: 1 / 1;
  display: grid;
  place-content: center;
  cursor: pointer;
  transform: rotate3d(0);
  transition-duration: 150ms;
  transition-property: transform background;
  transition-timing-function: ease-out;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.card.clicked {
  background-color: aquamarine;
}

.card-symbol {
  font-size: 2rem;
}
